.timer {
    margin: 8px;
    border-radius: 8px;
    background-color: black;
    padding: 0 32px 0 32px;
}

.timer span {
    font-size: 5em;
    font-family: Orbitron;
    color: #A0FF94;
    /* ef233c */
    text-shadow: 0 0 5px #A0FF94;
}